@import "./base.css";
@import "@globalhive/vuejs-tour/dist/style.css";

.item-divider-padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Custom Style for VueTour */
#vjt-tooltip {
  background-color: var(--ion-color-secondary);
}
#vjt-arrow::before {
  background-color: var(--ion-color-secondary);
}
.vjt-actions button {
  background-color: var(--ion-color-primary);
}
.vjt-actions button:hover {
  background-color: var(--ion-color-primary);
}
