@import "./base.css";
@import "@globalhive/vuejs-tour/dist/style.css";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.item-divider-padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Custom Style for VueTour */
#vjt-tooltip {
  background-color: var(--ion-color-secondary);
}

#vjt-arrow::before {
  background-color: var(--ion-color-secondary);
}

.vjt-actions button {
  background-color: var(--ion-color-primary);
}

.vjt-actions button:hover {
  background-color: var(--ion-color-primary);
}

/* Tour-Styles of Virtual Tour */
.station-category__tour-1 {
  background: #f4e405;
  color: #000;
  border: 1px solid #aea202;
}

.station-category__tour-2 {
  background: #c50404;
  color: #fff;
  border: 1px solid #9a0303;
}

.station-category__other {
  background: #5a5a5a;
  color: #fff;
  border: 1px solid #3e3e3e;
}

/* Swiper */
:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

/* Force-override safe-area top padding on headers/toolbars for Android/all devices */
ion-header,
ion-header ion-toolbar,
ion-header ion-toolbar:first-of-type {
  --ion-safe-area-top: 0px !important;
  padding-top: 0 !important;
}
